.header {
  z-index: 1;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #181818;
  margin: auto 0;
}

.navbar {
  padding-top: 28px;
  padding-bottom: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  z-index: 10;
}

.top-menu {
  display: flex;
  gap: 32px;

  @media (max-width: $bp992px) {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #181818;
    transform: translateY(-100%);
    transition: all 0.3s ease 0s;
  }
  // .top-menu__item
  &__item {
  }

  // .top-menu__link
  &__link {
    text-decoration: none;
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
  }

  // .top-menu__white-bg-btn
  .white-bg-btn {
    color: black;
  }
}

.top-menu_active {
  transform: translateY(0);
}

.burger-btn {
  display: none;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 26px;
  right: 20px;
  z-index: 200;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $bp992px) {
    display: flex;
  }

  .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: $whiteColor;
  }

  .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .line1.active {
    transform: rotate(45deg);
  }

  .line2.active {
    transform: scaleY(0);
  }

  .line3.active {
    transform: rotate(-45deg);
  }
}
