$containerWidth: 1208.99px;
$containerPadding: 20px;

// Break points
$bp1400: 1400px;
$bp992px: 992px;
$bp768px: 768px;
$bp480: 480px;

// Burger Menu
$burgerBreakpoint: $bp768px;

// Colors
$grayColor: #c0c0c0;
$whiteColor: #ffffff;
